$name: 'ivue-input';
.#{$name}-wrapper {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      line-height: normal;
      width: 100%;
      .#{$name} {
            display: inline-block;
            position: relative;
            padding: 4px 7px;
            font-size: $font-size-small;
            border-radius: 4px;
            border: 1px solid $border-color;
            color: $text-color;
            cursor: text;
            width: 100%;
            height: 30px;
            line-height: 1.5;
            transition: border $ivue-transition-default, background $ivue-transition-default, box-shadow $ivue-transition-default;
            &:focus {
                  outline: 0;
                  box-shadow: 0 0 0 2px transparentize($primary-color, 0.8);
            }
            &:focus,
            &:hover {
                  border-color: $primary-color;
            }
            &[disabled]{
                  background-color: $background-color-select-hover;
                  opacity: 1;
                  cursor: not-allowed;
                  color: $input-disabled-color;
                  &:hover {
                        border-color: $border-color;
                  }
            }
            @include placeholder;
      }
      .#{$name}-textarea{
            max-width: 100%;
            resize: vertical;
      }
      .#{$name}-with-prefix {
            padding-left: 32px;
      }
      .#{$name}-with-suffix {
            padding-right: 32px;
      }
      .#{$name}-icon {
            position: absolute;
            top: 50%;
            right: 0;
            line-height: 1;
            margin-top: -15px;
            font-size: $font-base-size;
            font-weight: bold;
            color: $arrow-color;
            height: 100%;
            transition: all .2s ease-in-out;
            cursor: pointer;
            &-clear {
                  opacity: 0;
            }
      }
      .is-suffix {
            right: 1px;
            margin-top: -10px;
            width: 32px;
            height: 20px;
            background-color: #fff;
            z-index: 2;
      }
      .#{$name}-prefix,
      .#{$name}-suffix {
            position: absolute;
            left: 0;
            top: 0;
            width: 32px;
            height: 100%;
            text-align: center;
            z-index: 1;
            i {
                  font-size: 16px;
                  line-height: 30px;
                  height: 30px;
                  color: $arrow-color;
            }
      }
      .#{$name}-suffix {
            right: 0;
            left: auto;
      }
      &:hover {
            .#{$name}-icon-clear {
                  opacity: 1;
            }
      }
}
