$name: 'ivue-date-picker-date';
.#{$name} {
      position: relative;
      padding: 0 12px;
      height: 248px;
      table {
            table-layout: fixed;
            width: 100%;
            transition: $ivue-transition-default;
      }
      &--table {
            th {
                  padding: 8px 0;
                  font-weight: 600;
                  color: rgba(0, 0, 0, 0.38);
            }
            td {
                  position: relative;
                  text-align: center;
                  width: 45px;
                  button {
                        font-size: $font-small-size;
                        height: 33px;
                        width: 33px;
                        min-width: 33px;
                        margin: 0;
                        color: rgba(0, 0, 0, 0.87);
                        border: 1px solid;
                        border-color: transparent;
                  }
            }
      }
      &--note {
            position: absolute;
            left: 50%;
            bottom: 2px;
            transform: translateX(-4px);
            border-radius: 50%;
            width: 8px;
            height: 8px;
            background: currentColor;
      }
}
