$name: 'ivue-message';
.#{$name} {
      position: fixed;
      top: 16px;
      left: 0;
      width: 100%;
      font-size: $font-base-size;
      z-index: 1010;
      pointer-events: none;
      &-notice {
            padding: 8px;
            text-align: center;
            transition: height .3s ease-in-out, padding .3s ease-in-out;
            &:first-child {
                  margin-top: -8px;
            }
            /*关闭按钮*/
            &-close {
                  position: absolute;
                  right: 4px;
                  top: 10px;
                  color: #999;
                  i {
                        position: relative;
                        top: -1px;
                        font-size: 16px;
                        transition: color .2s ease;
                        width: auto;
                        min-width: auto;
                        height: auto;
                        &:hover {
                              color: #444;
                        }
                  }
            }
      }
      /*内容*/
      &-notice-content {
            display: inline-block;
            position: relative;
            padding: 8px 16px;
            pointer-events: all;
            border-radius: $border-radius-small;
            box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
            background-color: #fff;
            &-text {
                  display: inline-block;
            }
      }
      &-notice-closable &-notice-content-text {
            margin-right: 32px;
      }
      &-content {
            span {
                  vertical-align: middle;
            }
      }
      &-icon {
            font-size: 17px;
            width: auto;
            min-width: auto;
            height: auto;
            &-success {
                  color: $success-color;
                  display: inline-block;
            }
            &-info {
                  color: $primary-color;
            }
            &-warning {
                  color: $warning-color;
            }
            &-error {
                  color: $error-color;
            }
      }
      &-loading{
            margin-right: 4px;
            width: 16px;
            vertical-align: middle;
            color: $primary-color;
      }
      .ivue-progress-circular-indeterminate{
            display: inline-block;
      }
}

@include move-motion(move-up, ivuMoveMessage);
@keyframes ivuMoveMessageIn {
      0% {
            transform-origin: 0 0;
            transform: translateY(-100%);
            opacity: 0;
      }
      100% {
            transform-origin: 0 0;
            transform: translateY(0%);
            opacity: 1;
      }
}

@keyframes ivuMoveMessageOut {
      0% {
            transform-origin: 0 0;
            transform: translateY(0%);
            opacity: 1;
      }
      100% {
            transform-origin: 0 0;
            transform: translateY(-100%);
            opacity: 0;
      }
}