$name: 'ivue-page';

.#{$name} {

    &-item {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        text-align: center;
        list-style: none;
        user-select: none;
        cursor: pointer;
        font-weight: 500;
        min-width: 32px;
        height: 32px;
        line-height: 28px;
        border-radius: 5px;
        color: #ffffff;
        border: 2px solid currentColor;
        background: currentColor;
        transition: border .2s ease-in-out;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

        /* 圆形 */
        &--circle {
            border-radius: 50%;
        }

        /* 激活 */
        &--active {
            border-color: $primary-color;
        }

        &:hover {
            border-color: $primary-color;
        }

        /* 文字 */
        &--text {
            color: #000000;
        }

        /* 缩略符 */
        &--abbreviation {
            border-color: transparent;
            background: none;
            transition: none;
            box-shadow: none;

            &::after {
                content: "\2022\2022\2022";
                display: block;
                letter-spacing: 1px;
                color: #ccc;
                text-align: center;
            }


            .ivue-icon {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin-left: 5px;
                display: none;
                color: $primary-color;
                font-size: 20px;

                &:first-child {
                    margin-left: -1px;
                }

            }

            &:hover {
                border-color: transparent;

                &::after {
                    display: none;
                }

                .ivue-icon {
                    display: initial;
                    color: $primary-color;
                }
            }
        }
    }

    /* 上一页 上一页*/
    &-prev,
    &-next {
        color: #000000;
        background: none;
        border-color: transparent;
        transition: border .2s ease-in-out;

        .ivue-icon {
            width: 100%;
            height: 100%;
            font-size: 20px;
        }
    }

    /* 禁用 */
    &-disabled {
        cursor: $cursor-disabled;
        color: #ccc;
        border-color: transparent;

        &:hover {
            border-color: transparent;
        }
    }

    /* 选项 */
    &-options {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px;

        .ivue-select-item-selected:after {
            display: none;
        }

        /* 选择 */
        &--select {
            display: inline-block;
            margin-right: 10px;
        }

        /* 电梯 */
        &--elevator {
            display: inline-block;
            vertical-align: middle;
            height: 32px;
            line-height: 32px;

            input {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 32px;
                line-height: 1.5;
                margin: 0 8px;
                padding: 4px 7px;
                font-size: 12px;
                border: 1px solid $border-color;
                color: #515a6e;
                background-color: #fff;
                outline: none;
                cursor: text;
                transition: border .2s ease-in-out;
                border-radius: 5px;
            }

            &:hover {
                input {
                    border-color: $primary-color;
                }
            }
        }
    }
}
