$name:'ivue-picker';
.#{$name} {
      border-radius: 2px;
      contain: layout style;
      flex-direction: column;
      vertical-align: top;
      &-title {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            padding: 16px;
            color: #fff;
      }
      &-body {
            height: auto;
            overflow: hidden;
            position: relative;
            z-index: 0;
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            >div {
                  width: 100%;
            }
      }
      &--fullWidth {
            display: flex;
      }
      /*横向*/
      &--landscape {
            .#{$name}-title {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  z-index: 1;
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                  width: 170px;
            }
            .#{$name}-body {
                  margin-left: 170px;
            }
      }
}

.ivue-card {
      position: relative;
      border-radius: 2px;
      min-width: 0;
      transition: $ivue-transition-default;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.primary {
      background-color: $primary-color;
      border-color: $primary-color;
}

.#{$name}-fade-enter-active,
.#{$name}-fade-leave-active {
      transition: opacity $ivue-transition-default;
}

.#{$name}-fade-enter,
.#{$name}-fade-leave-to {
      position: absolute;
      opacity: 0;
}