$name: 'ivue-chip';

.#{$name} {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 32px;
    font-size: 14px;
    margin: 4px;
    outline: none;
    vertical-align: middle;
    transition: $ivue-transition-stand;
    background: #e0e0e0;
    color: rgba(0, 0, 0, 0.87);

    /* 正方形 */
    &--square {
        border-radius: 2px;
    }

    .ivue-icon {
        margin-left: -6px;
        margin-right: 8px;
    }

    /* 获取焦点 */
    &:focus:not(.ivue-chip--disabled) {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 1px 5px 0px rgba(0, 0, 0, 0.12);

        &::after {
            background: currentColor;
            border-radius: inherit;
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: inherit;
            width: 100%;
            pointer-events: none;
            opacity: 0.13;
        }
    }

    /* hover */
    &:hover:not(.ivue-chip--disabled) {
        &::after {
            background: currentColor;
            border-radius: inherit;
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: inherit;
            width: 100%;
            pointer-events: none;
            opacity: 0.13;
        }
    }


    /* 内容 */
    &-content {
        display: inline-flex;
        align-items: center;
        border-radius: 28px;
        cursor: default;
        justify-content: space-between;
        height: 32px;
        padding: 0 12px;
        vertical-align: middle;
        white-space: nowrap;
        z-index: 1;
    }

    &--close &-content {
        padding: 0 4px 0 12px;
    }


    /* 关闭按钮 */
    &-close {
        align-items: center;
        color: inherit;
        display: flex;
        font-size: 20px;
        margin: 0 2px 0 8px;
        text-decoration: none;
        user-select: none;

        &>.ivue-icon {
            color: inherit;
            font-size: 20px;
            cursor: pointer;
            opacity: 0.5;
            margin: 0;
        }
    }

    /* 禁用 */
    &--disabled {
        color: rgba(0, 0, 0, .38);
    }


    /* 轮廓 */
    // Increase specificity to override theme background
    &.#{$name}.ivue-chip--outline {
        background: transparent !important;
        background-color: transparent !important;
        border: 1px solid currentColor;
        color: #9e9e9e;
        height: 32px;
    }

}
