$name: 'ivue-badge';
.#{$name} {
      position: relative;
      display: inline-block;
      /*数值*/
      &-count {
            position: absolute;
            top: -10px;
            right: 0;
            padding: 0 6px;
            min-width: 20px;
            height: 20px;
            border-radius: 10px;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            color: #fff;
            background-color: $error-color;
            transform: translateX(50%);
            transition: $ivue-transition-default;
            z-index: 10;
      }
      /*小红点*/
      &-dot {
            position: absolute;
            top: -4px;
            right: -8px;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: $error-color;
            box-shadow: 0 0 0 1px #fff;
            transform: translateX(-50%);
            transform-origin: 0 center;
            transition: $ivue-transition-default;
            z-index: 10;
      }
}