$name: 'ivue-date-picker-header';
.#{$name} {
      position: relative;
      padding: 4px 16px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      &--value {
            flex: 1;
            text-align: center;
            position: relative;
            overflow: hidden;
            strong {
                  cursor: pointer;
                  transition: .3s cubic-bezier(.25, .8, .5, 1);
                  display: block;
                  width: 100%;
                  font-size: $font-base-size;
            }
            .accent--text {
                  color: rgba(0, 0, 0, .87);
            }
      }
}