$name: 'ivue-tabs';
.#{$name} {
      user-select: none;
      /*导航*/
      &-bar {
            position: relative;
      }
      &-wrapper {
            overflow: hidden;
            display: flex;
            &--show-arrow {
                  margin-left: 40px;
                  margin-right: 40px;
                  transition: all .6s cubic-bezier(.86, 0, .07, 1);
            }
      }
      &-container {
            position: relative;
            flex: 1 0 auto;
            display: flex;
            height: 48px;
            list-style-type: none;
            white-space: nowrap;
            transition: transform .6s cubic-bezier(.86, 0, .07, 1);
      }
      &-container--centered &-slider-wrapper+&-tab {
            margin-left: auto;
      }
      &-container--centered>&-tab:first-child {
            margin-left: auto;
      }
      &-container--centered>&-tab:last-child {
            margin-right: auto;
      }
      &-container--right>&-tab:first-child {
            margin-left: auto;
      }
      &-container--right &-slider-wrapper+&-tab {
            margin-left: auto;
      }
      &-container--overflow &-tab {
            flex: 1 0 auto;
      }
      &-tab {
            position: relative;
            padding: 8px 16px;
            align-items: center;
            display: inline-flex;
            flex: 0 1 auto;
            max-width: 264px;
            box-sizing: border-box;
            width: auto;
            height: 100%;
            cursor: pointer;
            text-decoration: none;
            transition: color $ivue-transition-default;
            color: rgba(255, 255, 255, .7);
            font-weight: 500;
            font-size: 14px;
            &-disabled {
                  pointer-events: none;
                  color: $disabled-color;
            }
            &-active {
                  color: #fff;
            }
      }
      &-slider-wrapper {
            position: absolute;
            bottom: 0;
            margin: 0;
            transition: $ivue-transition-default;
      }
      &-slider {
            width: 100%;
            height: 2px;
            background: currentColor;
      }
      &-content {
            width: 100%;
            transition: transform $ivue-transition-default;
      }
      &-items {
            overflow: hidden;
            position: relative;
      }
      &-icon {
            position: absolute;
            top: 0;
            display: inline-flex;
            align-content: center;
            height: 100%;
            user-select: none;
            cursor: pointer;
            width: 32px;
            color: #fff;
            &--prev {
                  left: 4px;
            }
            &--next {
                  right: 4px;
            }
      }
}

.tab-reverse-transition {
      &-enter {
            transform: translate(-100%, 0);
      }
      &-leave,
      &-leave-to {
            top: 0;
            position: absolute;
            transform: translate(100%, 0);
      }
}

.tab-transition {
      &-enter {
            transform: translate(100%, 0);
      }
      &-leave,
      &-leave-active {
            position: absolute;
            top: 0;
      }
      &-leave-to {
            position: absolute;
            transform: translate(-100%, 0);
      }
}

.fade-transition-enter-active,
.fade--transition-leave-active {
      transition: opacity .3s cubic-bezier(.25, .8, .50, 1);
}

.fade-transition-enter,
.fade-transition-leave-to {
      opacity: 0;
}