$name: 'ivue-date-picker-header';
.#{$name} {
      position: relative;
      padding: 4px 16px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      &--value {
            flex: 1;
            text-align: center;
            position: relative;
            overflow: hidden;
            strong {
                  transition: $ivue-transition-default;
                  display: block;
                  width: 100%;
                  font-size: $font-base-size;
            }
      }
      &--value:not(.ivue-date-picker-header--disabled) {
            cursor: pointer;
            strong {
                  &:not(:hover) {
                        color: rgba(0, 0, 0, .87) !important;
                        background: none;
                  }
                  &:hover {
                        color: $primary-color;
                        background: none;
                  }
            }
      }
      &--disabled {
            user-select: none;
            strong {
                  color: $disabled-color;
            }
      }
      .ivue-button--icon {
            width: 36px;
            min-width: 36px;
            height: 36px;
            margin: 0;
      }
}