$name: 'ivue-cascader';
$input: 'ivue-input';
.#{$name} {
    position: relative;
    font-size: $font-small-size;
    width: 100%;
    /* 输入框 */
    &-selection-default {
        width: 100%;
        border: 1px solid $border-color;
        .#{$input}-wrapper {
            height: $input-height-base;
            .#{$input} {
                cursor: pointer;
                border: none;
                height: $input-height-base;
            }
            .ivue-icon {
                height: 100%;
                transition: all .2s ease-in-out;
            }
        }
        &:hover {
            border-color: transparentize($primary-color, 0.2);
        }
    }
    &-selection {
        display: block;
        position: relative;
        box-sizing: border-box;
        outline: none;
        user-select: none;
        border-radius: $border-radius-small;
        background-color: $white-color;
        min-height: 32px;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    /* 显示菜单 */
    &-visible {
        .#{$name}-selection {
            border-color: transparentize($primary-color, 0.2);
            outline: 0;
            box-shadow: 0 0 0 2px transparentize($primary-color, 0.8);
        }
        .#{$name}-arrow {
            transform: rotate(180deg);
            transform-origin: center center;
        }
    }
    /* 显示的文字 */
    &-label {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding: 0 32px 0 7px;
        color: $label-color;
        line-height: $input-height-base;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        box-sizing: border-box;
        cursor: pointer;
        text-align: left;
        font-size: inherit;
        border-radius: $border-radius-small;
        transition: all .2s ease-in-out;
        &:hover {
            border-color: transparentize($primary-color, 0.2);
        }
    }
    /* 菜单 */
    &-menus {
        position: absolute;
        margin: 5px 0;
        white-space: nowrap;
        z-index: 2;
        border: 1px solid $border-multiple-color;
        border-radius: 2px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
        background: $white-color;
        /* 箭头 */
        &-popper {
            margin-top: 12px;
            .popper-arrow,
            .popper-arrow::after {
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
            }
            .popper-arrow {
                left: 35px;
                margin-right: 3px;
                border-width: 6px;
                top: -6px;
                width: 0px;
                height: 0px;
                border-top-width: 0px;
                border-bottom-color: $popper-color;
                filter: drop-shadow(rgba(0, 0, 0, 0.03) 0px 2px 12px);
            }
            .popper-arrow::after {
                content: " ";
                border-width: 6px;
                top: 1px;
                margin-left: -6px;
                border-top-width: 0;
                border-bottom-color: $white-color;
            }
        }
    }
    &-menu {
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 204px;
        overflow: auto;
        border-right: 1px solid $border-color;
        background-color: $white-color;
        box-sizing: border-box;
        margin: 0;
        padding: 6px 0;
        min-width: 160px;
        &:last-child {
            border-right: 0;
        }
        &--isFlat {
            height: auto;
            max-height: 180px;
            overflow: auto;
        }
        /* loading */
        &--loading {}
        /* 菜单选项 */
        &--item {
            position: relative;
            padding: 8px 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #606266;
            height: 34px;
            font-size: 14px;
            box-sizing: border-box;
            cursor: pointer;
            outline: none;
            &:focus:not(:active),
            &:hover {
                background-color: #f5f7fa;
            }
            /* 现实扩展按钮 */
            &---extensible {
                .ivue-icon {
                    position: absolute;
                    top: 0;
                    right: 15px;
                    height: 100%;
                    font-size: 18px;
                    color: $extensible-color;
                }
            }
            /* 关键字 */
            &---keyword {
                font-weight: 700;
            }
        }
        /* 是否激活 */
        .is-active {
            color: $primary-color;
        }
        /* 是否禁用 */
        .is-disabled {
            color: $disabled-color;
            background-color: $white-color;
            cursor: not-allowed;
        }
    }
}

.#{$name}-menu-enter-active,
.#{$name}-menu-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: transform $ivue-transition-default, opacity $ivue-transition-default;
    transform-origin: center top;
}

.#{$name}-menu-enter,
.#{$name}-menu-leave-active {
    opacity: 0;
    transform: scaleY(0);
}
