.ivue-breadcrumb {
      align-items: center;
      display: flex;
      flex: 0 1 auto;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0;
      padding: 18px 12px;
      font-size: 14px;
      .ivue-icon {
            height: auto;
            width: auto;
            min-width: auto;
            transition: none;
      }
      >span {
            display: inline-flex;
      }
      &>span:last-child &-item {
            font-weight: bold;
            color: rgba(0, 0, 0, .38);
      }
      &--divider {
            padding: 0 12px;
            display: flex;
            align-items: center;
            color: $divider-color;
            .ivue-icon {
                  font-size: 16px;
            }
      }
      &-item {
            align-items: center;
            justify-content: center;
            display: inline-flex;
            text-decoration: none;
            color: $text-color;
            transition: color $ivue-transition-default;
            &:hover {
                  color: $primary-color;
                  opacity: .8;
            }
            .ivue-icon {
                  margin-right: 4px;
                  font-size: 12px;
            }
      }
      &-item--disabled {
            cursor: default;
            pointer-events: none;
            color: $divider-color;
      }
}