$name: 'ivue-loading-bar';
.#{$name} {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 2000;
      &-inner {
            transition: width .2s linear;
            &-color-primary {
                  background-color: $primary-color;
            }
            &-color-error {
                  background-color: $error-color;
            }
      }
}

.#{$name}-fade-enter-active,
.#{$name}-fade-leave-active {
      transition: opacity .5s;
}

.#{$name}-fade-enter,
.#{$name}-fade-leave-to {
      opacity: 0;
}