.ivue-switch {
      position: relative;
      display: inline-block;
      width: 44px;
      height: 22px;
      line-height: 20px;
      border-radius: 22px;
      vertical-align: middle;
      border: 1px solid #ccc;
      background-color: #ccc;
      cursor: pointer;
      user-select: none;
      outline: none;
      transition: all $ivue-transition-default;
      &:focus:hover {
            box-shadow: none;
      }
      &:focus {
            box-shadow: 0 0 0 2px fade($primary-color, 20%);
      }
      &:active::after {
            width: 26px;
      }
      &::after {
            content: '';
            position: absolute;
            left: 1px;
            top: 1px;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: #fff;
            cursor: pointer;
            transition: left $ivue-transition-default, width $ivue-transition-default;
      }
      &::before{
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            display: none;
            width: 16px;
            height: 16px;
            border: 1px solid $primary-color;
            border-color: transparent transparent transparent $primary-color;
            border-radius: 50%;
            background-color: transparent;
            animation: switch-loading 1s linear infinite;
            z-index: 1;
      }
}

@keyframes  switch-loading {
      0%{
            transform: rotate(0);
      }
      100%{
            transform: rotate(360deg)
      }
}