$name: 'ivue-select';

.#{$name} {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    color: $text-color;
    font-size: 14px;
    line-height: normal;

    /*禁用样式*/
    &-disabled {
        .#{$name}-selection {
            opacity: 1;
            cursor: not-allowed;
            color: $input-disabled-color;
            background-color: $input-disabled-bg;

            &:hover {
                border-color: transparentize($input-disabled-color, 0.8);
            }
        }
    }

    /*默认样式*/
    &-default {
        .#{$name}-selection {
            position: relative;
            height: $input-height-base;

            /*输入提示*/
            .#{$name}-placeholder {
                color: $input-placeholder-color;
            }

            .#{$name}-placeholder {
                display: block;
                height: $input-height-base - 2px;
                line-height: $input-height-base - 2px;
                font-size: $font-small-size;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0 24px 0 8px;
            }
        }

        .#{$name}-input-filter {
            width: 100%;
        }
    }

    /*多选样式*/
    &-multiple &-selection {
        padding: 0 24px 0 4px;

        .#{$name}-placeholder {
            position: absolute;
            display: block;
            height: $input-height-base - 2px;
            line-height: $input-height-base - 2px;
            color: $input-placeholder-color;
            font-size: $font-small-size;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 22px 0 4px;
        }
    }

    &-selection {
        display: block;
        position: relative;
        box-sizing: border-box;
        outline: none;
        user-select: none;
        border-radius: $border-radius-small;
        border: 1px solid $border-color;
        background-color: #fff;
        min-height: 32px;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            border-color: transparentize($primary-color, 0.2);
        }
    }

    /*多项选择*/
    &-selection-multiple {
        display: inline-block;
        margin: 3px 4px 3px 0;
        padding: 0 8px;
        height: 24px;
        line-height: 22px;
        font-size: $font-small-size;
        vertical-align: middle;
        opacity: 1;
        overflow: hidden;
        border: 1px solid $border-multiple-color;
        border-radius: 3px;
        background: $background-color-multiple;
        cursor: pointer;

        &-close {
            display: inline-block;
            position: relative;
            top: -1px;
            margin-left: 2px;
            opacity: .6;
            font-size: $font-base-size;
            width: auto;
            min-width: auto;
            height: auto;
            color: #666;
            cursor: pointer;
        }
    }

    /*过滤输入框*/
    &-input-filter {
        display: inline-block;
        position: relative;
        padding: 0 24px 0 8px;
        font-size: $font-small-size;
        outline: none;
        border: none;
        box-sizing: border-box;
        height: $input-height-base;
        line-height: $input-height-base;
        color: $text-color;
        background-color: transparent;
        cursor: pointer;
        @include placeholder;

        &[disabled] {
            cursor: not-allowed;
            color: $input-disabled-color;
        }
    }

    &-multiple &-input-filter {
        padding: 0 0 0 4px;
        height: $input-height-base - 12px;
        line-height: $input-height-base - 12px;
    }

    &-multiple &-input-filter-placeholder {
        height: $input-height-base - 2px;
        line-height: $input-height-base - 12px;
    }

    /*输入框箭头方向*/
    &-arrow {
        position: absolute;
        top: 50%;
        right: 0;
        line-height: 1;
        margin-top: -15px;
        font-size: $font-base-size;
        font-weight: bold;
        color: $arrow-color;
        height: 100%;
        transition: all .2s ease-in-out;
    }

    /*删除图标*/
    &-clear {
        text-align: center;
    }

    &-selection-value {
        display: block;
        padding-left: 8px;
        padding-right: 24px;
        height: $input-height-base - 2px;
        line-height: $input-height-base - 2px;
        font-size: $font-small-size;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-visible {
        .#{$name}-selection {
            border-color: transparentize($primary-color, 0.2);
            outline: 0;
            box-shadow: 0 0 0 2px transparentize($primary-color, 0.8);
        }

        .#{$name}-arrow {
            transform: rotate(180deg);
            transform-origin: center center;
        }
    }

    /*下拉菜单*/
    &-dropdown {
        position: absolute;
        margin: 2px 0;
        padding: 5px 0;
        width: auto;
        max-height: 200px;
        overflow: auto;
        background-color: #fff;
        box-sizing: border-box;
        border-radius: $border-radius-small;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
        z-index: 999;
        transform-origin: center top 0px;
    }

    .ivue-auto-complete {
        height: auto;
    }

    /*下拉菜单列表*/
    &-dropdown-list {
        width: 100%;
    }

    /*没有数据时的提示*/
    &-not-find {
        text-align: center;
        color: $text-disable-color;

        li {
            margin-bottom: 0;
        }
    }

    /*菜单数据列表*/
    &-item {
        position: relative;
        margin: 0;
        padding: 7px 16px;
        clear: both;
        line-height: normal;
        font-size: $font-small-size;
        white-space: nowrap;
        list-style: none;
        cursor: pointer;
        color: $text-color;
        transition: background $ivue-transition-default-timing;

        @media screen and (min-width: 800px) {
            &:hover {
                background: $background-color-select-hover;
            }
        }

        &-focus {
            background: $background-color-select-hover;
        }

        &-selected {
            color: $primary-color;
        }

        &-selected:after {
            @include ivue-icon;
            content: "done";
            position: absolute;
            top: 0;
            right: 8px;
            padding: 7px 0;
            font-size: 17px;
            color: transparentize($primary-color, 0.1);
        }

        /*选项菜单禁用样式*/
        &-disabled {
            cursor: not-allowed;
            color: $input-disabled-color;
        }
    }

    /*菜单数据列表group*/
    &-group {
        list-style: none;
        margin: 0;
        padding: 0;

        &-title {
            padding-left: 8px;
            font-size: $font-small-size;
            color: $legend-color;
            height: 30px;
            line-height: 30px;
        }
    }
}

/*下拉菜单动画*/

.transition-drop-enter-active {
    transition: all .3s ease-in-out;
}

.transition-drop-leave-active {
    transition: all .3s ease-in-out;
}

.transition-drop-enter,
.transition-drop-leave-to {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
    will-change: opacity, transform;
}

/*多选选项动画*/

.multiple-transition-enter-active,
.multiple-transition-leave-active {
    transition: opacity .3s ease-in-out;
}

.multiple-transition-enter,
.multiple-transition-leave-to {
    opacity: 0;
}

/*提示输入框动画*/

.ivue-select-fade-enter-active,
.ivue-select-fade-leave-active {
    transition: opacity .3s ease-in-out;
}

.ivue-select-fade-enter,
.ivue-select-fade-leave-to {
    opacity: 0;
}
