.ivue-list-item-content {
      min-height: 48px;
      padding: 4px 16px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      transition: padding $ivue-transition-stand;
      will-change: padding;
}