.ivue-ripple-enter-active {
      transition: .8s $ivue-transition-stand-timing;
      transition-property: opacity, transform;
      will-change: opacity, transform;
      &.ivue-centered {
            transition-duration: 1.2s;
      }
}

.ivue-ripple-enter {
      opacity: .26;
      transform: scale(.26) translateZ(0);
}