$name: 'ivue-date-picker-years';
.#{$name} {
      position: relative;
      padding: 0 12px 12px 12px;
      height: 248px;
      table {
            table-layout: fixed;
            width: 100%;
            transition: $ivue-transition-default;
      }
      &--table {
            td {
                  position: relative; 
                  /* width: 33.333333%;*/
                  height: 56px;
                  vertical-align: middle;
                  text-align: center;
                  button {
                        margin: 0 auto;
                        max-width: 160px;
                        min-width: 40px;
                        width: 100%;
                        color: rgba(0, 0, 0, 0.87);
                  }
            }
      }
}