.ivue-list{
      position: relative;
      margin: 0;
      padding: 8px 0;
      display: flex;
      flex-flow: column nowrap;
      list-style: none;
      -webkit-tap-highlight-color: transparent;
}