$spin-dot-size: 20px;
$spin-dot-size-small: 12px;
$spin-dot-size-large: 32px;
$zindex-spin-fullscreen: 2010;
.ivue-spin {
      color: $primary-color;
      vertical-align: middle;
      text-align: center;
      &-dot {
            position: relative;
            display: block;
            border-radius: 50%;
            background-color: $primary-color;
            @include square($spin-dot-size);
            animation: spin-bounce 1s 0s ease-in-out infinite;
      }
      &-small &-dot {
            @include square($spin-dot-size-small);
      }
      &-large &-dot {
            @include square($spin-dot-size-large);
      }
      /*固定*/
      &-fix {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 8;
            @include square(100%);
            background-color: rgba(255, 255, 255, .9);
      }
      /*固定*/
      &-fix &-main {
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
      }
      /*固定*/
      &-fix &-dot {
            display: inline-block;
      }
      /*全屏*/
      &-fullscreen {
            z-index: $zindex-spin-fullscreen;
            &-wrapper {
                  position: fixed;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
            }
      }
      /*文字*/
      &-text,
      &-show-text &-dot {
            display: none;
      }
      /*文字*/
      &-show-text &-text {
            display: block;
      }
}

@keyframes spin-bounce {
      0% {
            transform: scale(0);
      }
      100% {
            transform: scale(1);
            opacity: 0;
      }
}