$name: 'ivue-tooltip';
$popover-arrow-size: 6px;
$popover-max-width: 250px;
$arrow-width: 5px;
$arrow-distance: $arrow-width - 1+4;

.#{$name} {
    display: inline-block;

    /* slot元素 */
    &-reference {
        display: inline-block;
        position: relative;
        width: inherit;
    }

    &-popper {
        position: absolute;
        // border-radius: 2px;
        // padding: 5px 8px;
        z-index: 2000;
        font-size: 12px;
        line-height: 1.5;
        min-width: 10px;
        word-wrap: break-word;
        visibility: visible;
        color: #fff;

        &[x-placement^="top"] {
            padding: $arrow-width 0 $arrow-distance 0;
        }

        &[x-placement^="top"] .#{$name}-popper--arrow {
            left: 50%;
            margin-left: -$arrow-width;
            bottom: $arrow-distance - $arrow-width;
            border-width: $arrow-width $arrow-width 0;
            border-top-color: currentColor;
        }

        &[x-placement^="bottom"] {
            padding: $arrow-distance 0 $arrow-width 0;
        }

        &[x-placement^="bottom"] .#{$name}-popper--arrow {
            left: 50%;
            margin-left: -$arrow-width;
            top: $arrow-distance - $arrow-width;
            border-width: 0 $arrow-width $arrow-width;
            border-bottom-color: currentColor;
        }

        &[x-placement^="right"] {
            padding: 0 $arrow-width 0 $arrow-distance;
        }

        &[x-placement^="right"] .#{$name}-popper--arrow {
            top: 50%;
            margin-top: -$arrow-width;
            left: $arrow-distance - $arrow-width;
            border-width: $arrow-width $arrow-width $arrow-width 0;
            border-right-color: currentColor;
        }

        &[x-placement^="left"] {
            padding: 0 $arrow-distance 0 $arrow-width;
        }

        &[x-placement^="left"] .#{$name}-popper--arrow {
            top: 50%;
            margin-top: -$arrow-width;
            right: $arrow-distance - $arrow-width;
            border-width: $arrow-width 0 $arrow-width $arrow-width;
            border-left-color: currentColor;
        }
    }

    /* 内容 */
    &-inner {
        max-width: 250px;
        // min-height: 34px;
        border-radius: 2px;
        padding: 5px 8px;
        color: #fff;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        white-space: nowrap;
        text-align: left;
        text-decoration: none;

        &-width {
            white-space: pre-wrap;
            text-align: justify;
        }
    }

    /* 提示圆角 */
    &-rounded {
        border-radius: 50px;
    }

    /* 箭头 */
    &-popper--arrow {
        border-width: 6px;
        filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));

        // &::after {
        //     content: " ";
        //     border-width: 6px;
        // }
    }

    &-popper--arrow,
    &-popper--arrow::after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }


}



.fade-tooltip-enter-active,
.fade-tooltip-leave-active {
    transition: opacity .3s cubic-bezier(.25, .8, .50, 1);
}

.fade-tooltip-enter,
.fade-tooltip-leave-to {
    opacity: 0;
}
