$name:'ivue-table';

.#{$name} {
    width: inherit;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    color: $text-color;
    font-size: 12px;
    background-color: #fff;
    box-sizing: border-box;

    table {
        table-layout: fixed;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: $border-color;
        z-index: 1;
    }


    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $border-color;
        z-index: 1;
    }

    /* 滚动 */
    &-overflowY {
        overflow-y: scroll;
    }

    /* 外层 */
    &-wrapper {
        position: relative;
        border: 1px solid $border-color;
        overflow: hidden;
        border-bottom: 0;
        border-right: 0;
    }

    /* 头部 */
    &-header {
        overflow: hidden;

        /* 隐藏 */
        &--hidden {
            visibility: hidden;
        }

        // 每列的样式
        &--cell {
            display: inline-block;
            padding-left: 18px;
            padding-right: 18px;
            word-wrap: normal;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            word-break: break-all;
            box-sizing: border-box;
        }

        &--th {
            min-width: 0;
            height: 40px;
            box-sizing: border-box;
            text-align: left;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
            border-bottom: 1px solid #e8eaec;
            overflow: hidden;
            background-color: #f8f8f9;
        }

        &--scrollBar {
            background-color: #f8f8f9;
        }
    }

    /* tr */
    &-tr {

        &-hover,
        &-highlight {
            .#{$name}-td {
                background-color: rgba(65, 119, 246, .2);
            }
        }
    }

    /* td */
    &-td {
        min-width: 0;
        height: 48px;
        box-sizing: border-box;
        text-align: left;
        text-overflow: ellipsis;
        vertical-align: middle;
        border-bottom: 1px solid #e8eaec;
        background-color: #fff;
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
    }

    /* cell */
    &-cell {
        padding: 0 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-all;
        box-sizing: border-box;


        /* 隐藏 */
        &--hidden {
            visibility: hidden;
        }
    }

    /* 边框 */
    &-border {

        .#{$name}-td,
        .#{$name}-th,
        .#{$name}-header--th {
            border-right: 1px solid #e8eaec;
            border-color: #e8eaec !important;
        }
    }

    /* 固定 */
    &-fixed {
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 2px 0 6px -2px rgba(0, 0, 0, .2);
        background-color: #f8f8f9;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $border-color;
            z-index: 4;
        }

        /* 头部 */
        &--header {
            overflow: hidden;
        }

        /* 内容 */
        &--content {
            overflow: hidden;
            position: relative;
            z-index: 3;
        }

        /* 右固定 */
        &--right {
            left: auto;
            right: 0;
            box-shadow: -2px 0 6px -2px rgba(0, 0, 0, .2);
        }

        /* 右边滚动右上角 */
        &--rightheader {
            position: absolute;
            top: -1px;
            right: 0;
            background-color: #f8f8f9;
            border-top: 1px solid #dcdee2;
            border-bottom: 1px solid #e8eaec;
        }
    }


}
