$name: 'ivue-date-picker-header';
.#{$name} {
      position: relative;
      padding: 4px 16px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      &--value {
            flex: 1;
            text-align: center;
            position: relative;
            overflow: hidden;
            strong {
                  cursor: pointer;
                  transition: $ivue-transition-default;
                  display: block;
                  width: 100%;
                  font-size: $font-base-size;
                  &:not(:hover) {
                        color: rgba(0, 0, 0, .87) !important;
                        background: none;
                  }
                  &:hover {
                        color: $primary-color;
                        background: none;
                  }
            }
      }
}