$name: 'ivue-avatar';

.#{$name} {
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 32px;

    /* 图片 */
    &-img {
        width: 100%;
        height: 100%;
    }

    /* slot */
    &-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    /* 圆形 */
    &-circle {
        border-radius: 50%;
    }

    /* 正方形 */
    &-square {
        border-radius: 4px;
    }
}
