.ivue-carousel {
      position: relative;
      display: block;
      box-sizing: border-box;
      user-select: none;
      touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
      /*箭头*/
      &-arrow {
            position: absolute;
            top: 50%;
            display: none;
            text-align: center;
            font-size: 1em;
            font-family: inherit;
            line-height: inherit;
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
            width: 36px;
            min-width: 36px;
            height: 36px;
            border-radius: 50%;
            cursor: pointer;
            transform: translateY(-50%);
            transition: all .2s;
            color: #fff;
            background-color: rgba(31, 45, 61, .11);
            z-index: 10;
            &.left {
                  left: 16px;
            }
            &.right {
                  right: 16px;
            }
            &-always {
                  display: inherit;
            }
            &-hover {
                  display: inline;
                  opacity: 0;
            }
            &:hover {
                  background-color: rgba(31, 45, 61, .5);
            }
      }
      &:hover &-arrow-hover {
            opacity: 1;
      }
      &-track,
      &-list {
            transform: translate3d(0, 0, 0);
      }
      &-list {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
      }
      /*前一个内容*/
      &-track {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            overflow: hidden;
            z-index: 1;
            &.higher {
                  z-index: 2;
            }
      }
      &-item {
            float: left;
            display: block;
            height: 100%;
            min-height: 1px;
      }
      /*指示器*/
      &-dots {
            $padding: 7px;
            position: relative;
            display: none;
            list-style: none;
            text-align: center;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 3px + $padding * 2;
            z-index: 10;
            /*内部*/
            &-inside {
                  display: block;
                  position: absolute;
                  bottom: 10px - $padding;
            }
            /*外部*/
            &-outside {
                  display: block;
                  margin-top: 10px - $padding;
            }
            li {
                  position: relative;
                  display: inline-block;
                  vertical-align: top;
                  text-align: center;
                  margin: 0 2px;
                  padding: $padding 0;
                  cursor: pointer;
                  button {
                        border: 0;
                        opacity: .3;
                        width: 16px;
                        height: 3px;
                        border-radius: 1px;
                        outline: none;
                        font-size: 0;
                        display: block;
                        cursor: pointer;
                        color: transparent;
                        background: #8391a5;
                        transition: all .5s;
                        &.radius {
                              padding: 0;
                              width: 6px;
                              height: 6px;
                              border-radius: 50%;
                        }
                  }
                  &:hover>button {
                        opacity: 0.7;
                  }
                  &.ivue-carousel-active>button {
                        opacity: 1;
                        width: 24px;
                        &.radius {
                              width: 6px;
                        }
                  }
            }
      }
}