$name: 'ivue-radio';
$transition-time: .2s;
$ease-in-out: ease-in-out;

.#{$name} {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;

    /* 组合 */
    &-group {
        display: inline-block;
        vertical-align: middle;

        .#{$name}-wrapper {
            margin-right: 8px;
        }

        /* 垂直 */
        &-vertical {
            .#{$name}-wrapper {
                display: block;
                height: 30px;
                line-height: 30px;
            }
        }
    }

    &:hover {
        .#{$name}-inner {
            border-color: currentColor;
        }
    }

    /* 圆点 */
    &-inner {
        position: relative;
        left: 0;
        top: 0;
        width: 14px;
        height: 14px;
        display: inline-block;
        background-color: $white-color;
        border-radius: 50%;
        border: 1px solid #dcdee2;
        transition: all $transition-time $ease-in-out;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: table;
            border-top: 0;
            border-left: 0;
            opacity: 0;
            background-color: currentColor;
            transition: all $transition-time $ease-in-out;
            transform: scale(0);
            z-index: 2;
        }
    }

    /* 焦点 */
    &-focus {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: table;
            border-top: 0;
            border-left: 0;
            opacity: 0.2;
            transition: all $transition-time $ease-in-out;
            box-shadow: 0 0 0 2px currentColor;
            z-index:1;
        }
    }

    /* 外层 */
    &-wrapper {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        cursor: pointer;
        font-size: $font-small-size;

        /* 禁用 */
        &-disabled {
            cursor: not-allowed;
        }
    }

    /* 输入框 */
    &-input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
    }

    /* 激活 */
    &-checked {
        .#{$name}-inner {
            border-color: currentColor;

            &::after {
                opacity: 1;
                transform: scale(1);
                transition: all $transition-time $ease-in-out;
            }
        }

        &:hover {
            .#{$name}-inner {
                border-color: currentColor;
            }
        }
    }

    /* 禁用 */
    &-disabled {
        cursor: $cursor-disabled;

        .#{$name}-inner {
            border-color: #d7dde4;
            background-color: #f3f3f3;

            &::after {
                background-color: $disabled-color;
            }

        }

        .#{$name}-input {
            cursor: $cursor-disabled;
        }

        &:hover {
            .#{$name}-inner {
                border-color: #d7dde4;
            }
        }
    }
}
