$name: 'ivue-notice';
$notice-width: 335px;
$notice-padding: 16px;
$notice-margin-bottom: 10px;
$have-icon: 51px;
.#{$name} {
      position: fixed;
      width: $notice-width;
      margin-right: 25px;
      z-index: 1000;
      &-notice {
            position: relative;
            padding: $notice-padding;
            margin-bottom: $notice-margin-bottom;
            border-radius: $border-radius-small;
            box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
            overflow: hidden;
            background-color: #fff;
            &-close {
                  position: absolute;
                  right: 10px;
                  top: 15px;
                  outline: none;
                  color: #999;
                  i {
                        position: relative;
                        top: -3px;
                        font-size: 16px;
                        transition: color .2s ease;
                        width: auto;
                        min-width: auto;
                        height: auto;
                        &:hover {
                              color: #444;
                        }
                  }
            }
            &-have-desc &-close {
                  top: 12px;
            }
            &-content-render {
                  .#{$name}-desc {
                        display: none;
                  }
            }
      }
      &-content {
            position: relative;
      }
      &-content-have-icon {
            margin-left: $have-icon;
      }
      .#{$name}-have-desc.#{$name}-have-icon &-title {
            margin-left: $have-icon;
      }
      .#{$name}-have-desc.#{$name}-have-icon &-desc {
            margin-left: $have-icon;
      }
      &-have-desc &-icon {
            top: -2px;
            font-size: 36px;
      }
      &-have-icon &-title {
            margin-left: 26px;
      }
      /*标题*/
      &-title {
            padding-right: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: $font-base-size;
            line-height: $font-base-size + 3;
            color: $title-color;
            overflow: hidden;
      }
      /*描述*/
      &-desc {
            font-size: $font-small-size;
            color: $text-color;
            text-align: justify;
            line-height: 1.5;
      }
      &-have-desc &-title {
            font-weight: bold;
            margin-bottom: 8px;
      }
      &-icon {
            position: absolute;
            font-size: 17px;
            width: auto;
            min-width: auto;
            height: auto;
            &-success {
                  color: $success-color;
                  display: inline-block;
            }
            &-info {
                  color: $primary-color;
            }
            &-warning {
                  color: $warning-color;
            }
            &-error {
                  color: $error-color;
            }
      }
}

@include move-motion(move-notice, ivuMoveNotice);
@keyframes ivuMoveNoticeIn {
      0% {
            opacity: 0;
            transform-origin: 0 0;
            transform: translateX(100%);
      }
      100% {
            opacity: 1;
            transform-origin: 0 0;
            transform: translateX(0%);
      }
}

@keyframes ivuMoveNoticeOut {
      0% {
            transform-origin: 0 0;
            transform: translateX(0%);
            opacity: 1;
      }
      70% {
            transform-origin: 0 0;
            transform: translateX(100%);
            height: auto;
            padding: $notice-padding;
            margin-bottom: $notice-margin-bottom;
            opacity: 0;
      }
      100% {
            transform-origin: 0 0;
            transform: translateX(100%);
            height: 0;
            padding: 0;
            margin-bottom: 0;
            opacity: 0;
      }
}
