$name:'ivue-breadcrumbs';

.#{$name} {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 18px 12px;
  font-size: 14px;
  color: #999;

  .ivue-icon {
    height: auto;
    width: auto;
    min-width: auto;
    transition: none;
  }

  &-item-separator {
    margin: 0 8px;
    color: $divider-color;

    .ivue-icon {
      font-size: 16px;
    }
  }

  &-item:last-child &-item-separator {
    display: none;
  }

  // 子项
  &-item {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    text-decoration: none;
    color: $text-color;
    transition: color $ivue-transition-default;

    .ivue-icon {
      font-size: 12px;
    }

    &-text {
      display: contents;
      color: #606266;
    }

    // router
    &-link {
      color: $text-color;
      font-weight: 700;
      text-decoration: none;
      transition: color .2s $ease-in-out;
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }

}
