{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": false,
                "modules": "commonjs",
                "spec": true,
                "targets": {
                    "browsers": [
                        "last 3 Chrome versions",
                        "last 3 Firefox versions",
                        "Safari >= 10",
                        "Explorer >= 11",
                        "Edge >= 12",
                        "iOS >= 10",
                        "Android >= 6"
                    ]
                },
                "useBuiltIns": "usage",
                "corejs": 3,
                "debug": false
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    },
    "plugins": [
        "dynamic-import-node",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-property-mutators",
        "@babel/plugin-proposal-object-rest-spread",
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 2
            }
        ],
        "transform-vue-jsx",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        "@babel/plugin-proposal-json-strings"
    ],
    "comments": false
}
