// z-index
$zindex-affix: 10;
// button
$ivue-button-min-width: 88px;
$ivue-button-height: 36px;
$ivue-button-radius: 2px;
$ivue-button-font-size: 14px;
$ivue-button-dense-height: 32px;
$ivue-button-icon-size: 40px;
// icon
$icon-size: 24px;

// color
$primary-color: #2d8cf0;