@import "./theme/index";
@import "./custom";
@import "./components/index";
*,
::after,
::before {
      box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0;
}

* {
      -webkit-tap-highlight-color: transparent;
}

a {
      text-decoration: none;
      outline: 0px;
      color: #2d8cf0;
      will-change: color;
      transition: color 0.2s ease 0s;
      background: 0px 0px;
      cursor: pointer;
}