/*
* 颜色样式循环渲染
*/

@each $key,
$value in $colors {
      // $colorName 子级名称  $rgb 颜色
      @each $colorName,
      $rgb in map-get($colors, $key) {
            @if ($colorName=="base") {
                  .#{$key} {
                        background: $rgb;
                        color: $rgb !important;
                        &.ivue-raised.#{$key}:not([disabled]),
                        &.ivue-raised-noElevation.#{$key}:not([disabled]) {
                              color: #fff !important;
                              background: $rgb;
                        }
                  }
            }
            @else {
                  .#{$key}-#{$colorName} {
                        background: $rgb;
                        color: $rgb !important;
                        &.ivue-raised.#{$key}-#{$colorName}:not([disabled]),
                        &.ivue-raised-noElevation.#{$key}-#{$colorName}:not([disabled]) {
                              color: #fff !important;
                              background: $rgb;
                        }
                  }
            }
      }
}

// 正方形
@mixin square ($size) {
      @include size($size, $size);
}

@mixin size($width, $height) {
      width: $width;
      height: $height;
}

@mixin placeholder($color: $input-placeholder-color) {
      /*Firefox*/
      &::-moz-placeholder {
            color: $color;
            opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
      }
      /*Internet Explorer 10+*/
      &:-ms-input-placeholder {
            color: $color;
      }
      /*Safari and Chrome*/
      &::-webkit-input-placeholder {
            color: $color;
      }
}

@mixin move-motion($className, $keyframeName) {
      @include make-motion($className, $keyframeName);
      
      .#{$className}-enter-active,
      .#{$className}-appear {
            opacity: 0;
            animation-timing-function: ease-in-out;
      }
      .#{$className}-leave-active {
            animation-timing-function: ease-in-out;
      }
}

@mixin make-motion($className, $keyframeName) {
      .#{$className}-enter-active,
      .#{$className}-appear {
            @include motion-common();
            animation-play-state: paused;
      }
      .#{$className}-leave-active {
            @include motion-common();
            animation-play-state: paused;
      }
      .#{$className}-enter-active,
      .#{$className}-appear {
            animation-name:#{$keyframeName}In;
            animation-play-state: running;
      }
      .#{$className}-leave-active {
            animation-name:#{$keyframeName}Out;
            animation-play-state: running;
      }
}

@mixin motion-common() {
      animation-duration: .3s;
      animation-fill-mode: both;
}